.mainDiv {
    max-width: 500px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.heading {
    text-align: center;
    color: #333;
}

.addItem {
    display: flex;
    margin-bottom: 20px;
}

.input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
}

.button {
    background-color: #9e9e9e;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 8px;
}

.mainDiv button:hover {
    background-color: #817e7e;
}

.item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listGroupItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.listGroupItem button {
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    margin-left: 8px;
}

.editBtn {
    background-color: #3366cc;
}

.deleteBtn {
    background-color: #ff3333;
}

.deleteBtn:hover {
    background-color: #cc0000;
}

.editBtn:hover {
    background-color: #004080;
}

.doneBtn {
    background-color: #4caf50;
}

.doneBtn:hover {
    background-color: #45a049;
}
